@media screen {
	body {
		margin: 0px;
		background-color: #101030;
	}
	font {
		font-family: "Helvetica";
		font-size: 14px;
	}
	.layout {
		width: 75%;
		background-color: #FFFFD0;
		border-left: 1px solid #666;
		border-right: 1px solid #666;
		padding-top: 60px;
		padding-bottom: 600px;
		font-size: 15px;
	}
	.main {
		width: 80%;
		
		border-left: 0px solid #666;
		border-right: 0px solid #666;
		padding: 5px;
		border-spacing: 0px;
	}
	.topbar {
		width: 100%;
		background-color: #FFCC00;
		
		border: 2px solid #000000;
		padding: 0px;
		border-spacing: 0px;
	}
	.topbar-entry {
		width: 100%;
		background-color: #000000;
		border: 0px;
		padding: 0px;
		border-spacing: 1px;
	}
	.lcol {
		float: left;
		width: 25%;
	}
	.rcol {
		float: right;
		width: 25%;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tttext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #ffffff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
	}

	.tooltip:hover .tttext {
		visibility: visible;
	}
	
	.caption {
		font-size: 19px;
		font-weight: bold;
	}
	
	.linkbar {
		font-size: 11px;
	}
}
